# Utforsker datasettet

In [93]:
import pandas as pd

In [94]:
energimerke_df = pd.read_csv("energimerke_rådata.csv", encoding="utf-8")

/var/folders/dy/cyxs1mpd3sz95gqcmyhgtt7h0000gn/T/ipykernel_5685/2671161084.py:1: DtypeWarning: Columns (1,2,3,4,5,6,11,20) have mixed types. Specify dtype option on import or set low_memory=False.
  energimerke_df = pd.read_csv("energimerke_rådata.csv", encoding="utf-8")

In [95]:
energimerke_df.head(2)

,knr,gnr,bnr,snr,fnr,andelsnummer,bygningsnummer,gateadresse,postnummer,poststed,...,oppvarmingskarakter,utstedelsesdato,typeregistrering,attestnummer,beregnetlevertenergitotaltkwhm2,beregnetfossilandel,materialvalg,harenergivurdering,energivurderingdato,kildear
0,4601.0,114,226,1,NaN,NaN,23636719,Skagevegen 73 A,5258.0,BLOMSTERDALEN,...,Yellow,2020-12-31T20:36:04.0000000,Simple,A2020-1211914,134.95,NaN,Tre,False,NaN,2020
1,301.0,224,68,NaN,NaN,NaN,NaN,Hans Nielsen Hauges gate 12,481.0,0481,...,Green,2020-12-31T16:33:21.0000000,Simple,A2020-1211913,403.62,NaN,Mur/tegl,False,NaN,2020

In [96]:
from ydata_profiling import ProfileReport
#ProfileReport(energimerke_df, minimal=True)

# Endrer på features

Ut i fra vår forskning på energimerke kom vi fram til at de mest relevante features var:
                                                            - bygningskategori
                                                            - byggear
                                                            - postnummer
                                                            - beregnetlevertenergitotaltkwhm2
                                                            - beregnetfossilandel
                                                            - materialvalg
                                                            - energikarakter

In [97]:
relevante_kolonner = [
    "bygningskategori",
    "byggear",
    "postnummer",
    "beregnetlevertenergitotaltkwhm2",
    "beregnetfossilandel",
    "materialvalg",
    "energikarakter" 
]

energimerke_df = energimerke_df[relevante_kolonner].copy()

In [98]:
energimerke_df.head(3)

,bygningskategori,byggear,postnummer,beregnetlevertenergitotaltkwhm2,beregnetfossilandel,materialvalg,energikarakter
0,Småhus,2007,5258.0,134.95,NaN,Tre,C
1,Boligblokker,1936,481.0,403.62,NaN,Mur/tegl,G
2,Boligblokker,1989,1188.0,160.38,NaN,Betong,D

In [99]:
energimerke_df["bygningskategori"].unique()

array(['Småhus', 'Boligblokker', 'Kulturbygg', 'Kontorbygg', 'Sykehjem',
       'Barnehager', 'Hoteller', 'Forretningsbygg', 'Idrettsbygg',
       'Lett industri, verksteder', 'Skolebygg',
       'Universitets- og høgskolebygg', 'Sykehus'], dtype=object)

I våres problemstilling er vi kun interessert i å finne ut energimerke på privatpersoners byggninger, som småhus og boligblokker, derfor må de andre verdiene vekk.

In [100]:
energimerke_df = energimerke_df[
    energimerke_df["bygningskategori"].isin(["Småhus", "Boligblokker"])
]

In [101]:
energimerke_df["bygningskategori"].unique()

array(['Småhus', 'Boligblokker'], dtype=object)

Vi har nå at postnummer er et desimaltall, men dette stemmer ikke. Postnummer skal være et heltall.

In [102]:
energimerke_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 640743 entries, 0 to 661471
Data columns (total 7 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   bygningskategori                 640743 non-null  object
 1   byggear                          640743 non-null  int64
 2   postnummer                       638005 non-null  float64
 3   beregnetlevertenergitotaltkwhm2  640743 non-null  float64
 4   beregnetfossilandel              277815 non-null  object
 5   materialvalg                     541596 non-null  object
 6   energikarakter                   640743 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 39.1+ MB

In [103]:
energimerke_df = energimerke_df.dropna(subset=["postnummer"]).copy()
energimerke_df["postnummer"] = energimerke_df["postnummer"].astype(int)

alle rader som manglet postummer er blitt fjernet og resten har blitt omgjort til heltall

In [104]:
energimerke_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638005 entries, 0 to 661471
Data columns (total 7 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   bygningskategori                 638005 non-null  object
 1   byggear                          638005 non-null  int64
 2   postnummer                       638005 non-null  int64
 3   beregnetlevertenergitotaltkwhm2  638005 non-null  float64
 4   beregnetfossilandel              275547 non-null  object
 5   materialvalg                     538874 non-null  object
 6   energikarakter                   638005 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 38.9+ MB

neste ste

In [105]:
energimerke_df["beregnetfossilandel"].unique()

array([nan, '0,61', '0,80', '0,65', '0,00', '0,85', '0,62', '0,13',
       '1,00', '0,59', '0,63', '0,60', '0,52', '0,66', '0,75', '0,67',
       '0,72', '0,81', '0,54', '0,36', '0,84', '0,64', '0,58', '0,41',
       '0,69', '0,86', '0,78', '0,51', '0,28', '0,83', '0,40', '0,82',
       '0,79', '0,76', '0,39', '0,35', '0,68', '0,55', '0,26', '0,11',
       '0,89', '0,73', '0,57', '0,53', '0,01', '0,42', '0,16', '0,44',
       '0,77', '0,23', '0,87', '0,70', '0,27', '0,20', '0,74', '0,18',
       '0,45', '0,25', '0,34', '0,71', '0,96', '0,56', '0,95', '0,29',
       '0,88', '0,47', '0,30', '0,24', '0,32', '0,31', '0,46', '0,91',
       '0,90', '0,94', '0,49', '0,48', '0,37', '0,43', '0,12', '0,92',
       '0,22', '0,33', '0,21', '0,17', '0,38', '0,93', '0,50', '0,08',
       '0,14', '0,10', '0,03', '0,07', '0,15', '0,09', '0,19', '0,97',
       '0,04', '0,98', '0,02', '0,99', '0,05', '0,06'], dtype=object)

In [106]:
col = "beregnetfossilandel"

energimerke_df[col] = (
    energimerke_df[col]
      .astype(str)
      .str.strip()
      .str.replace(r"[^0-9,.\-]", "", regex=True)  
      .str.replace(",", ".", regex=False)          
      .replace({"": pd.NA, "nan": pd.NA, "None": pd.NA})
)

energimerke_df[col] = pd.to_numeric(energimerke_df[col], errors="coerce")

In [107]:
energimerke_df["beregnetfossilandel"].unique()

array([ nan, 0.61, 0.8 , 0.65, 0.  , 0.85, 0.62, 0.13, 1.  , 0.59, 0.63,
       0.6 , 0.52, 0.66, 0.75, 0.67, 0.72, 0.81, 0.54, 0.36, 0.84, 0.64,
       0.58, 0.41, 0.69, 0.86, 0.78, 0.51, 0.28, 0.83, 0.4 , 0.82, 0.79,
       0.76, 0.39, 0.35, 0.68, 0.55, 0.26, 0.11, 0.89, 0.73, 0.57, 0.53,
       0.01, 0.42, 0.16, 0.44, 0.77, 0.23, 0.87, 0.7 , 0.27, 0.2 , 0.74,
       0.18, 0.45, 0.25, 0.34, 0.71, 0.96, 0.56, 0.95, 0.29, 0.88, 0.47,
       0.3 , 0.24, 0.32, 0.31, 0.46, 0.91, 0.9 , 0.94, 0.49, 0.48, 0.37,
       0.43, 0.12, 0.92, 0.22, 0.33, 0.21, 0.17, 0.38, 0.93, 0.5 , 0.08,
       0.14, 0.1 , 0.03, 0.07, 0.15, 0.09, 0.19, 0.97, 0.04, 0.98, 0.02,
       0.99, 0.05, 0.06])

In [108]:
energimerke_df.head(3)

,bygningskategori,byggear,postnummer,beregnetlevertenergitotaltkwhm2,beregnetfossilandel,materialvalg,energikarakter
0,Småhus,2007,5258,134.95,NaN,Tre,C
1,Boligblokker,1936,481,403.62,NaN,Mur/tegl,G
2,Boligblokker,1989,1188,160.38,NaN,Betong,D

Det neste steget er å undersøke featuren beregnetfossilandel. Basert på tidligere analyser ser det ut til at andelen beregnet fossil energi har en betydelig innvirkning på hvilken energikarakter en bolig får.
Ettersom rundt 56 % av verdiene mangler, representerer dette et kritisk datatap som må håndteres.
Det finnes flere mulige tilnærminger for å håndtere manglende verdier, men vi har valgt å erstatte de manglende verdiene med medianen av de eksisterende. Dette reduserer påvirkningen av ekstreme verdier og gir en mer robust representasjon av fordelingen i datasettet.

In [109]:
energimerke_df["beregnetfossilandel"].isna().sum()

np.int64(362458)

In [110]:
andel_nan = energimerke_df["beregnetfossilandel"].isna().mean() * 100
print(f"Andel NaN: {andel_nan:.2f}%")

Andel NaN: 56.81%

In [111]:
print(energimerke_df.groupby("bygningskategori")["beregnetfossilandel"].apply(lambda x: x.isna().mean() * 100))

bygningskategori
Boligblokker    54.974181
Småhus          58.326136
Name: beregnetfossilandel, dtype: float64

In [112]:
energimerke_df["beregnetfossilandel"].value_counts(dropna=False)

beregnetfossilandel
NaN     362458
1.00     83002
0.80     54178
0.00     27790
0.61     12728
         ...
0.07         9
0.05         9
0.02         8
0.04         6
0.03         5
Name: count, Length: 102, dtype: int64

In [113]:
(energimerke_df["beregnetfossilandel"] == 0.00).sum()

np.int64(27790)

In [114]:
energimerke_df["beregnetfossilandel"] = (
    energimerke_df.groupby("bygningskategori", group_keys=False)["beregnetfossilandel"]
    .apply(lambda x: x.fillna(x.median()))
)

In [115]:
andel_nan = energimerke_df["beregnetfossilandel"].isna().mean() * 100
print(f"Andel NaN: {andel_nan:.2f}%")

Andel NaN: 0.00%

energimerke_df.head(2)

In [116]:
energimerke_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638005 entries, 0 to 661471
Data columns (total 7 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   bygningskategori                 638005 non-null  object
 1   byggear                          638005 non-null  int64
 2   postnummer                       638005 non-null  int64
 3   beregnetlevertenergitotaltkwhm2  638005 non-null  float64
 4   beregnetfossilandel              638005 non-null  float64
 5   materialvalg                     538874 non-null  object
 6   energikarakter                   638005 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 38.9+ MB

In [117]:
energimerke_df["materialvalg"].value_counts(dropna=False)

materialvalg
Tre             357655
Betong          136365
NaN              99131
Mur/tegl         23982
MurTeglstein     20225
Stal               337
Stål               310
Name: count, dtype: int64

vi slår sammen Mur/tegl og MurTeglstein, og vi slår sammen stal og stål:

In [118]:
energimerke_df["materialvalg"] = energimerke_df["materialvalg"].replace({
    "Mur/tegl": "Murteglstein",
    "MurTeglstein": "Murteglstein",
    "Stal": "Stål"
})

In [119]:
energimerke_df["materialvalg"].value_counts(dropna=False)

materialvalg
Tre             357655
Betong          136365
NaN              99131
Murteglstein     44207
Stål               647
Name: count, dtype: int64

# feature encoding

datasettet har mange features som har verider av typen object. Vi vil at flest mulig verdier er av typen int64/ heltall, dette gjør det lettere for oss når vi skal begynne å bruke forskjellige modeller. løsningen er feature encoding, vi deler opp kolonnene.

bygningskategori må deles opp, men siden vi bare har to forskjellige mulige løsninger for bygningskategori, kan vi sette småhus til å være lik 0 og boligblokk til å være lik småhus.

In [120]:
kategori_map = {
    "Småhus": 0,
    "Boligblokker": 1
}

energimerke_df["bygningskategori"] = energimerke_df["bygningskategori"].replace(kategori_map)

vi må endre materialvalg til flere kolonner (one-hot-encoding). Vi deler materialvalg til mat_betong, mat_tre, osv. huset med den gitte matrialtypet setter 1 under rett materialtype og 0 under resten

In [121]:
energimerke_df["materialvalg"] = energimerke_df["materialvalg"].replace({
    "Mur/tegl": "Murteglstein",
    "MurTeglstein": "Murteglstein",
    "Stal": "Stål"
})

energimerke_df["materialvalg"] = energimerke_df["materialvalg"].fillna("Ukjent")

mat_dummies = pd.get_dummies(
    energimerke_df["materialvalg"],
    prefix="mat",
    dtype="int8"
)

energimerke_df = pd.concat([energimerke_df.drop(columns=["materialvalg"]),
                            mat_dummies], axis=1)

In [122]:
energimerke_df.head(5)

,bygningskategori,byggear,postnummer,beregnetlevertenergitotaltkwhm2,beregnetfossilandel,energikarakter,mat_Betong,mat_Murteglstein,mat_Stål,mat_Tre,mat_Ukjent
0,0,2007,5258,134.95,0.8,C,0,0,0,1,0
1,1,1936,481,403.62,0.8,G,0,1,0,0,0
2,1,1989,1188,160.38,0.8,D,1,0,0,0,0
3,1,1940,467,336.95,0.8,G,1,0,0,0,0
4,1,1960,665,395.42,0.8,G,1,0,0,0,0

In [123]:
energimerke_df.to_csv("energimerke_renset1.csv", index=False, encoding="utf-8")

In [124]:
energimerke_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638005 entries, 0 to 661471
Data columns (total 11 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   bygningskategori                 638005 non-null  object
 1   byggear                          638005 non-null  int64
 2   postnummer                       638005 non-null  int64
 3   beregnetlevertenergitotaltkwhm2  638005 non-null  float64
 4   beregnetfossilandel              638005 non-null  float64
 5   energikarakter                   638005 non-null  object
 6   mat_Betong                       638005 non-null  int8
 7   mat_Murteglstein                 638005 non-null  int8
 8   mat_Stål                         638005 non-null  int8
 9   mat_Tre                          638005 non-null  int8
 10  mat_Ukjent                       638005 non-null  int8
dtypes: float64(2), int64(2), int8(5), object(2)
memory usage: 37.1+ MB

bygningskategori er av typen objekt, det skal være et heltall:

In [125]:
energimerke_df["bygningskategori"] = energimerke_df["bygningskategori"].astype(int)

In [126]:
energimerke_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638005 entries, 0 to 661471
Data columns (total 11 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   bygningskategori                 638005 non-null  int64
 1   byggear                          638005 non-null  int64
 2   postnummer                       638005 non-null  int64
 3   beregnetlevertenergitotaltkwhm2  638005 non-null  float64
 4   beregnetfossilandel              638005 non-null  float64
 5   energikarakter                   638005 non-null  object
 6   mat_Betong                       638005 non-null  int8
 7   mat_Murteglstein                 638005 non-null  int8
 8   mat_Stål                         638005 non-null  int8
 9   mat_Tre                          638005 non-null  int8
 10  mat_Ukjent                       638005 non-null  int8
dtypes: float64(2), int64(3), int8(5), object(1)
memory usage: 37.1+ MB

In [127]:
energimerke_df.to_csv("energimerke_renset2.csv", index=False, encoding="utf-8")